@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body{
    font-family: 'Google Sans', sans-serif;
}

.inicio-index{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bt-login{
    height: 6vh;
    width: 20vh;
    background-color: blue;
    text-align: center;
    border-radius: 31vh;
    color:white;
    text-decoration:none;

    /*centralizar a palavra login no botão*/
    display:flex;
    justify-content: center;
    align-items:center;
}

.bt-cadastro{
    height: 6vh;
    width: 20vh;
    background-color: cadetblue;
    border-radius: 31vh;
    text-align: center;
    text-decoration: none;
    color:white;
    
    
    display: flex;
    justify-content: center;
    align-items: center;

}